@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    

    <div>
        <a href="@Url.Action("Register", "User")" class="btn btn-primary">Register</a>
        <a href="@Url.Action("Login", "User")" class="btn btn-secondary">Login</a>
    </div>
</div>
